<a href="https://colab.research.google.com/github/agbamsudo/udofrando/blob/main/LEARNING_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mystudentage = 30
print(mystudentage)
print("my student age will be {}".format(mystudentage))

30
my student age will be 30

In [ ]:
print("in 10 years, my student age will be {}".format(mystudentage+10))

in 10 years, my student age will be 40

In [ ]:
a=5
print(a)

5

In [ ]:
a

5

In [ ]:
a=str("my student age")
print(type("my student age"))

<class 'str'>

In [ ]:
pow(3,2)
print(pow(3,2))

9

In [ ]:
10//3
print(10//3)

3

In [ ]:
print("addition:",1+2)

addition: 3

In [ ]:
print("subtraction:",2-1)

subtraction: 1

In [ ]:
print("divide:",6/2)

divide: 3.0

In [ ]:
a = 3
b = 2
total = a+b
diff=a-b
product=a*b
reminder=a%b
floor_division=a//b
division=a/b
exponential=a**b
print("total")

total

In [ ]:
print(total)
print(diff)
print(product)
print(floor_division)
print(reminder)
print(exponential)
print(division)

5
1
6
1
1
9
1.5

In [ ]:
#calculating area of a circle
#radius of a circle
radius=10
area_of_a_circle=3.14*radius**2
print("area of a circle:",area_of_a_circle)

area of a circle: 314.0

In [ ]:
#calculating area of a rectangle
lenght=10
width=20
area_of_a_rectangle=lenght*width
print("area of a rectangle:",area_of_a_rectangle)

area of a rectangle: 200

In [ ]:
x=10
age="my age"
num=2.13
dog=False
print(type(dog))
print(type(num))
print(type(age))
print(type(x))

<class 'bool'>
<class 'float'>
<class 'str'>
<class 'int'>

In [ ]:
from typing_extensions import clear_overloads
$$x^3$$ clear_overloads

SyntaxError: invalid syntax (<ipython-input-6-b3344821de02>, line 1)

In [ ]:
def cubic(x):
    return x**4
print(cubic(2))

16

In [ ]:
def square(number):
    return number**2
print(square(2))

4

In [ ]:
a=3
b=1
total=a+b
print(total)

4

In [ ]:
def square(number):
    return(number**2)
print(square(2))

4

In [ ]:
squared=square(5.5)
print(squared)

30.25

In [ ]:
my_number=6
print(square(my_number))

36

In [ ]:
def do_it(x):
    return(x**3)
print(do_it(2))
print(do_it(3))

8
27

In [ ]:
$$\sum(n+1)$$

SyntaxError: invalid syntax (<ipython-input-23-c2c20c0d6756>, line 1)

$$\sum(n+1)$$

$$n=0,1,2,3,4,5,6,7,8,9$$

In [ ]:
def sum_num(N):
    sum_=0
    for n in range(N+1):
        sum_=sum_+n
    return sum_
print(sum_num(10))

55

In [ ]:
def sum_guass(N):
    return N*(N+1)//2
for N in range(100):
    assert sum_num(N)==sum_guass(N)
print(sum_num(10))

55

In [ ]:
print(3>2)

True

In [ ]:
def do_it(x):
    print(x**3)
do_it(2)

8

In [ ]:
def example_a(a):
    print("a**2 will return")
    return a**3
print (example_a(2))

a**2 will return
8

In [ ]:
def example_a(a):
    return a**3
print("a**3 will return",example_a(2))

a**3 will return 8

In [ ]:
def example_a(a):
    return a**3
print("a**3 will {} return", format(example_a(2)))

a**3 will {} return 8

In [ ]:
def example_b():
    return ("example_b is running")
print("existing without returning a value", example_b())

existing without returning a value example_b is running

In [14]:
my_list=[1,2,3,4]
lenght_of_list=len(my_list)
print(lenght_of_list)
list_range=range(4)
print(list[list_range])
new_list=[]
for i in range(lenght_of_list):
  print(i)
  if my_list[i]==4:
     pass
  else:
      new_list.append(my_list[i])
      print(new_list)

4
list[range(0, 4)]
0
[1]
1
[1, 2]
2
[1, 2, 3]
3